@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url("../fonts/Montserrat-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'FontAwesome';
    src: url("../fonts/font-awesome/fonts/fontawesome-webfont.ttf") format('truetype');
}