@import "_variebles";
@import "~normalize.css";
@import "fonts.scss";




body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    
}

main {
    display: grid;
    grid-template-rows: 70px auto 440px;
}


header {
    display: flex;
    justify-content: space-between;
    //padding: 20px;
    background: red;
    width: 1440px;
    height: 70px;
}
.logo {
    
}

.logo_text {
    
}

nav {
    
}
.top-menu {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    .top-menu_item {
        list-style-type: none;
        padding: 20px 10px;
        margin-left: 5px;
       
    }
}

.entrance {
    
}
.register {
    
}


.conteiner {
    width: 1440px;
    height: 961px;
    background-image: url(../image/start_content.jpg);
    background-size: cover;
}

.logo {
    background-image: url("../image/logo1.png");
    height: 40px;
    width: 40px;
}



