@import "_variebles";
@import "~normalize.css";
@import "fonts.scss";




body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    
}

main {
    display: grid;
    grid-template-rows: 70px auto 440px;
}


header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 1440px;
    height: 70px;
}

.logo {
    background-image: url("../image/logo.png");
    background-repeat: no-repeat;
    height: 40px;
    width: 110px;
    margin-left: 140px;
    margin-top: 15px;
    color: black;
}

.navigation {
    width: 446px;
    font: 14px "Montserrat-Regular", sans-serif;
    color: rgba(31,32,65,0.5);
}

.top-menu {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    
    .top-menu_item {
        list-style-type: none;
        padding: 20px 10px;
        margin-left: 5px;
       
       
    }
}

.entrance {
    
}
.register {
    
}


.conteiner {
    width: 1440px;
    height: 961px;
    background-image: url(../image/start_content.jpg);
    background-size: cover;
}





