@import "_variebles";
@import "~normalize.css";
@import "fonts.scss";


body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    
}

main {
    display: grid;
    grid-template-rows: 70px auto 440px;
    width: 100%;
    max-width: 1920px;
    min-width: 320px;
}


header {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    width: 100%;
    height: 70px;
}

.logo {
    background-image: url("../image/logo.png");
    background-repeat: no-repeat;
    height: 40px;
    width: 106px;
    margin: 1rem 7rem;
    color: black;
}

.navigation {
    width: 546px;
    height: 24px;
    font: 14px "Montserrat-Regular", sans-serif;
    margin: 1.625rem 1.25rem 1.25rem 17.875rem;
}

.top-menu {
    display: flex;
    //flex-flow: row wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    //height: 24px;
    
    .top-menu_item {
        list-style-type: none;
        padding-right: 26px;
        height: 24px;
        margin-right: 20px;
        //padding: 20px 10px;
        //margin-left: 5px;
            a {
                color:$dark;
                position: relative;
                height: 24px;
            }
       
    }
}


.fa-angle-down {
    position: absolute;
    color: $dark;
    top: 0;
    left: 49px;
    border: 1px solid #000;
    width: 24px;
    height: 21px;
    font-size: 24px;
}

.entrance {
    width: 87px;
    height: 34px;
    margin: 18px 20px;
    .button_entrance {
        width: 87px;
        height: 34px;
        border-radius: 22px;
        border-width: 4px;
        padding: 0;
        border-image-slice: 1;
        border-image: linear-gradient(top bottom, rgba(188, 156, 255, 1), rgba(139, 164, 249, 1));
            a {
                background: #fff;
            }
    }
}


.conteiner {
   // width: 1440px;
    height: 961px;
    background-image: url(../image/start_content.jpg);
    background-size: cover;
}





