header
    div.logo 
    nav.navigation 
        ul.top-menu
            li.top-menu__item
                a(href='#') О нас
            li(class="top-menu__item" class="top-menu__arrow") 
                a(href='#') Услуги
                div.arrow
            li.top-menu__item 
                a(href='#') Вакансии
            li.top-menu__item 
                a(href='#') Новости
            li(class="top-menu__item" class="top-menu__arrow") 
                a(href='#') Соглашения
                div.arrow2
    div.entrance
        button.button__entrance 
            a(href='#') Войти
    div.button.register
        button.button__register Зарегистрироваться
