header
    div.logo 
    nav.navigation 
        ul.top-menu
            li.top-menu_item
                a(href='#') О нас
            li.top-menu_item 
                a(href='#') Услуги
                    span(class="fa", class="fa-angle-down", aria-hidden="true")
            li.top-menu_item 
                a(href='#') Вакансии
            li.top-menu_item 
                a(href='#') Новости
            li.top-menu_item 
                a(href='#') Соглашения
    div.entrance
        button.button_entrance 
            a(href='#') Войти
    div.button.register
        button.button_register Зарегистрироваться
